
  <mat-card class="Success-card">
    <mat-card-header>
     
      <mat-card-title>Warranty Note</mat-card-title>
    </mat-card-header>
 
    <mat-card-content>
        <mat-list role="list">
            <mat-list>

                <mat-list-item *ngFor="let item of items">
            
                  <h1 mat-line>Warranty NO - {{item.itemID}}</h1>
                  <p mat-line></p>

                  <h1 mat-line>Item Name - {{item.itemName}}</h1>
                  <p mat-line></p>

                  <h1 mat-line>Company - {{item.itemCompany}}</h1>
                  <p mat-line></p>

                  <h1 mat-line>Fault - {{item.itemFault}}</h1>
                  <p mat-line></p>

                  <h1 mat-line>Invoice Date - {{item.itemInvoiceDate}}</h1>
                  <p mat-line></p>

                  <h1 mat-line>Customer Name - {{item.itemCustomer}}</h1>
                  <p mat-line></p>

                  <h1 mat-line>Contact No - {{item.itemContact}}</h1>
                  <p mat-line></p>
                
                </mat-list-item>
    
              </mat-list>
              
          </mat-list>
          </mat-card-content>
          </mat-card>