
  <mat-card class="Success-card">
    <mat-card-header>
     
      <mat-card-title>Item On Hand </mat-card-title>
      <mat-card-subtitle>Successfully aded to the database.</mat-card-subtitle>
    </mat-card-header>
 
    <mat-card-content>
        <mat-list role="list">
            <mat-list>

                <mat-list-item >
            
                  <h4 mat-line>Fol</h4>
                  <p mat-line> Fddusf </p>
                </mat-list-item>
              
               
              </mat-list>
              
          </mat-list>
          </mat-card-content>
          </mat-card>