<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Warranty System</span>
    <span class="example-spacer"></span>

  <!--button row-->

    <div class="example-button-row">
      <div class="example-button-row">
        <a routerLink="" style="color: white;"> <button mat-button>Home</button></a>
        <a routerLink="add" style="color: white;"><button mat-button>Add</button></a>
        <a routerLink="status" style="color: white;"><button mat-button>Status</button></a>
        <a routerLink="user" style="color: white;"><button mat-button>User</button></a>

      </div>
      
    </div>

  <!--icon-->
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>